    .container {
        display: flex;
        align-items: flex-end; /* 子要素を下揃えに配置 */
    }
    
    h3, h4 {
        display: inline-block; /* ブロック要素をインラインブロック要素に変更 */
        margin: 0; /* 余白をリセット */
        padding-top: 10px; /* 必要に応じて padding を設定 */
        font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ","MS PGothic","ＭＳ Ｐゴシック",Helvetica,Arial,sans-serif;
    }

    h4 {
        font-size: 14px;
        margin: 0px;
    }

    table{
        border:1;
    }

    img{
        margin: auto;
        display: block;
        border: 0;
        height: 40px;
        width: 75px;
    }

    td{
        margin:10%;
    }

    p{
        text-align: center;
        font-size: 14px;
        margin: 0px;
    }

    div{
        text-align: left;
    }

    #location{
        display: none;
    }
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    h3, h4 {
        padding-top: 1.041666666666667vw; /* 必要に応じて padding を設定 */
        /* その他のスタイルを追加 */
    }

    h3 {
        font-size: 2.71304347826087vw;
    }
    
    h4 {
        font-size: 1.4583333333333vw;
    }
    
    img{
        margin: auto;
        display: block;
        height: 4.1666666666667vw;
        width: 7.8125vw;
    }

    td{
        white-space: nowrap; /* テキストが自動的に折り返されないように設定 */
        margin: 10%;
    }

    a {
        display: block; /* リンクをブロック要素に変更して改行できるようにする */
        }

    p, div, a{
        line-height: 2;
        font-size: 1.4583333333333vw;
    }

    .source{
        font-size: 1.875vw;
    }
}

    /* スクロールバーを持つテーブルの親要素をスタイル */
    [data-simplebar] {
        /* 必要な幅と高さを設定 */
        width: 100%;
        overflow-x: scroll; /* 横方向のスクロールバーを表示 */
        overflow-y: hidden; /* 縦方向のスクロールバーを非表示 */
    }
    
    /* テーブルのスタイル（必要に応じてカスタマイズ） */
    table {
        width: auto;
        height: 100%;
        border-collapse: collapse;
    }
    
    table, th, td {
        border: 1px solid #ddd; /* テーブルの境界線を追加 */
        text-align: center; /* テキストを中央寄せに */
    }
    
    /* テーブルヘッダの背景色やテキストスタイルを設定 */
    th {
        background-color: #f2f2f2;
        font-weight: bold;
}
        

