.container {
    display: flex;
    align-items: flex-end; /* 子要素を下揃えに配置 */
  }
  
h3, h4 {
    display: inline-block; /* ブロック要素をインラインブロック要素に変更 */
    margin: 0; /* 余白をリセット */
    padding-top: 10px; /* 必要に応じて padding を設定 */
    /* その他のスタイルを追加 */
}

h4 {
    font-size: 14px;
    margin: 0px;
}

img{
    margin: auto;
    display: block;
}

p{
    text-align: center;
    font-size: 14px;
    margin: 0px;
}

