.container {
    display: flex;
    align-items: flex-end; /* 子要素を下揃えに配置 */
  }
  
h3, h4 {
    display: inline-block; /* ブロック要素をインラインブロック要素に変更 */
    margin: 0; /* 余白をリセット */
    padding-top: 10px; /* 必要に応じて padding を設定 */
    /* その他のスタイルを追加 */
}

h4 {
    font-size: 14px;
    margin: 0px;
}

img{
    margin: auto;
    display: block;
}

p{
    text-align: center;
    font-size: 14px;
    margin: 0px;
}

#location{
    display: none;
}
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
        td{
            white-space: nowrap; /* テキストが自動的に折り返されないように設定 */
        }

        a {
            display: block; /* リンクをブロック要素に変更して改行できるようにする */
          }

        p{
            line-height: 2;
        }
}
@media screen and (max-width: 480px) {
   	/* 480px以下に適用されるCSS（スマホ用） */
        td{
            white-space: nowrap; /* テキストが自動的に折り返されないように設定 */
        }

        a {
            display: block; /* リンクをブロック要素に変更して改行できるようにする */
          }

        p{
            line-height: 2;
        }

        table {
            overflow-x: scroll;
        }
}

