<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <link media="print" onload="this.media='all'" rel="stylesheet" href="../static/css/style.css" type="text/css" />
    <noscript><link rel="stylesheet" href="../static/css/style.css" type="text/css" /></noscript>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@5.3.6/dist/simplebar.min.css"/>
    <link rel="stylesheet" href="reset.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/simplebar@5.3.6/dist/simplebar.min.js"></script>
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: content: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="js/main.js" async></script>
    <title>八代市の天気</title>
</head>
<body>
    <div class="container">
        <h3>八代市の天気　</h3>
        <h4>{{dt_now}}</h4>
    </div>

    <div data-simplebar data-simplebar-auto-hide="false">
        <table border="1">
            <tr>
                <th><p>今日</p></th>
                <th><p>0時</p></th>
                <th><p>3時</p></th>
                <th><p>6時</p></th>
                <th><p>9時</p></th>
                <th><p>12時</p></th>
                <th><p>15時</p></th>
                <th><p>18時</p></th>
                <th><p>21時</p></th>
            </tr>
            <tr>
                <td><div class="source">yahoo天気</div></td>
                <td>
                    <img alt="yahoo_weather_today[0]" border="0" height="40" src="../static/img/{{yahoo_weather_today[0]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_today[0]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_today[1]" border="0" height="40" src="../static/img/{{yahoo_weather_today[1]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_today[1]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_today[2]" border="0" height="40" src="../static/img/{{yahoo_weather_today[2]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_today[2]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_today[3]" border="0" height="40" src="../static/img/{{yahoo_weather_today[3]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_today[3]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_today[4]" border="0" height="40" src="../static/img/{{yahoo_weather_today[4]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_today[4]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_today[5]" border="0" height="40" src="../static/img/{{yahoo_weather_today[5]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_today[5]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_today[6]" border="0" height="40" src="../static/img/{{yahoo_weather_today[6]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_today[6]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_today[7]" border="0" height="40" src="../static/img/{{yahoo_weather_today[7]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_today[7]}}
                    </p>
                </td>
            </tr>
            <tr>

                <td><div class="source">niffty天気</div></td>
                <td>
                    <img alt="niftty_weather_today[0]" border="0" height="40" src="../static/img/{{niftty_weather_today[0]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_today[0]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_today[1]" border="0" height="40" src="../static/img/{{niftty_weather_today[1]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_today[1]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_today[2]" border="0" height="40" src="../static/img/{{niftty_weather_today[2]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_today[2]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_today[3]" border="0" height="40" src="../static/img/{{niftty_weather_today[3]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_today[3]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_today[4]" border="0" height="40" src="../static/img/{{niftty_weather_today[4]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_today[4]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_today[5]" border="0" height="40" src="../static/img/{{niftty_weather_today[5]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_today[5]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_today[6]" border="0" height="40" src="../static/img/{{niftty_weather_today[6]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_today[6]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_today[7]" border="0" height="40" src="../static/img/{{niftty_weather_today[7]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_today[7]}}
                    </p>
                </td>
            </tr>
            <tr>
                <td><div class="source">お天気<br>ナビゲーター</div></td>
                <td colspan="8">
                    <img alt="navigater_weather_today" border="0" height="40" src="../static/img/{{navigater_weather_today}}.png" width="75"/>
                    <p>
                        {{navigater_weather_today}}
                    </p>
                </td>
            </tr>
            <tr>
                <td><div class="source">気象庁<br>(熊本県)<div id="location"><a href="https://www.jma.go.jp/bosai/forecast/" target="_blank"></a></div></div></td>
                <td colspan="8">
                        <article id="content_area">
                        </article>
                        <p class="weatherTelop">--</p>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <div data-simplebar data-simplebar-auto-hide="false">
        <table border="1">
            <tr>
                <th><p>明日</p></th>
                <th><p>0時</p></th>
                <th><p>3時</p></th>
                <th><p>6時</p></th>
                <th><p>9時</p></th>
                <th><p>12時</p></th>
                <th><p>15時</p></th>
                <th><p>18時</p></th>
                <th><p>21時</p></th>
            </tr>
            <tr>
                <td><div class="source">yahoo天気</div></td>
                <td>
                    <img alt="yahoo_weather_tomorrow[0]" border="0" height="40" src="../static/img/{{yahoo_weather_tomorrow[0]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_tomorrow[0]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_tomorrow[1]" border="0" height="40" src="../static/img/{{yahoo_weather_tomorrow[1]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_tomorrow[1]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_tomorrow[2]" border="0" height="40" src="../static/img/{{yahoo_weather_tomorrow[2]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_tomorrow[2]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_tomorrow[3]" border="0" height="40" src="../static/img/{{yahoo_weather_tomorrow[3]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_tomorrow[3]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_tomorrow[4]" border="0" height="40" src="../static/img/{{yahoo_weather_tomorrow[4]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_tomorrow[4]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_tomorrow[5]" border="0" height="40" src="../static/img/{{yahoo_weather_tomorrow[5]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_tomorrow[5]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_tomorrow[6]" border="0" height="40" src="../static/img/{{yahoo_weather_tomorrow[6]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_tomorrow[6]}}
                    </p>
                </td>
                <td>
                    <img alt="yahoo_weather_tomorrow[7]" border="0" height="40" src="../static/img/{{yahoo_weather_tomorrow[7]}}.png" width="75"/>
                    <p>
                        {{yahoo_weather_tomorrow[7]}}
                    </p>
                </td>
            </tr>
            <tr>
                <td><div class="source">niffty天気</div></td>
                <td>
                    <img alt="niftty_weather_tomorrow[0]" border="0" height="40" src="../static/img/{{niftty_weather_tomorrow[0]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_tomorrow[0]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_tomorrow[1]" border="0" height="40" src="../static/img/{{niftty_weather_tomorrow[1]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_tomorrow[1]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_tomorrow[2]" border="0" height="40" src="../static/img/{{niftty_weather_tomorrow[2]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_tomorrow[2]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_tomorrow[3]" border="0" height="40" src="../static/img/{{niftty_weather_tomorrow[3]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_tomorrow[3]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_tomorrow[4]" border="0" height="40" src="../static/img/{{niftty_weather_tomorrow[4]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_tomorrow[4]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_tomorrow[5]" border="0" height="40" src="../static/img/{{niftty_weather_tomorrow[5]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_tomorrow[5]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_tomorrow[6]" border="0" height="40" src="../static/img/{{niftty_weather_tomorrow[6]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_tomorrow[6]}}
                    </p>
                </td>
                <td>
                    <img alt="niftty_weather_tomorrow[7]" border="0" height="40" src="../static/img/{{niftty_weather_tomorrow[7]}}.png" width="75"/>
                    <p>
                        {{niftty_weather_tomorrow[7]}}
                    </p>
                </td>
            </tr>
            <tr>
                <td><div class="source">お天気<br>ナビゲーター</div></td>
                <td colspan="8">
                    <img alt="navigater_weather_tommorow" border="0" height="40" src="../static/img/{{navigater_weather_tommorow}}.png" width="75"/>
                    <p>
                        {{navigater_weather_tommorow}}
                    </p>
                </td>
            </tr>

            <tr>
                <td><div class="source">気象庁<br><a>(熊本県)</a><div id="location"><a href="https://www.jma.go.jp/bosai/forecast/" target="_blank"></a></div></div></td>
                <td colspan="8">
                        <article id="content_area_today">
                        </article>
                        <p class="weatherTelopToday">--</p>
                </td>

        </table>
    </div> 
        </body>
    <!-- <p>気温: {{ temperature }}</p> -->
    <script src="../static/js/weather.js"></script>
</body>
</html>
