<!DOCTYPE html>
<html>
<head>
    <title>八代市の天気</title>
</head>
<body>
    <h1>八代市の天気</h1>
    <table border="1">
    <tr>
        <td>yahoo天気</td>
        <td>0時</td>
        <td>3時</td>
        <td>6時</td>
        <td>9時</td>
        <td>12時</td>
        <td>15時</td>
        <td>18時</td>
        <td>21時</td>
    </tr>
    <tr>
        <td>今日</td>
        <td>{{yahoo_weather_today_0}}</td>
        <td>{{yahoo_weather_today_3}}</td>
        <td>{{yahoo_weather_today_6}}</td>
        <td>{{yahoo_weather_today_9}}</td>
        <td>{{yahoo_weather_today_12}}</td>
        <td>{{yahoo_weather_today_15}}</td>
        <td>{{yahoo_weather_today_18}}</td>
        <td>{{yahoo_weather_today_21}}</td>
    </tr>
    <tr>
        <td>明日</td>
        <td>{{yahoo_weather_tomorrow_0}}</td>
    </tr>
</table>  
<table border="1">
    <tr>
        <td>niffty天気</td>
        <td>0時</td>
        <td>3時</td>
        <td>6時</td>
        <td>9時</td>
        <td>12時</td>
        <td>15時</td>
        <td>18時</td>
        <td>21時</td>
    </tr>
    <tr>
        <td>今日</td>
        <td>{{niftty_weather_today_0}}</td>
        <td>{{niftty_weather_today_3}}</td>
        <td>{{niftty_weather_today_6}}</td>
        <td>{{niftty_weather_today_9}}</td>
        <td>{{niftty_weather_today_12}}</td>
        <td>{{niftty_weather_today_15}}</td>
        <td>{{niftty_weather_today_18}}</td>
        <td>{{niftty_weather_today_21}}</td>
    </tr>
    <tr>
        <td>明日</td>
        <td>{{niftty_weather_tomorrow_0}}</td>
    </tr>
</table> 
    <!-- <p>気温: {{ temperature }}</p> -->
</body>
</html>
