<!DOCTYPE html>
<html>
<head>
    <title>八代市の天気</title>
</head>
<body>
    <h1>八代市の天気</h1>
    <h3>{{dt_now}}</h3>
    <table border="1">
        <tr>
            <td>今日</td>
            <td>0時</td>
            <td>3時</td>
            <td>6時</td>
            <td>9時</td>
            <td>12時</td>
            <td>15時</td>
            <td>18時</td>
            <td>21時</td>
        </tr>
        <tr>
            <td>yahoo天気</td>
            <td>
                <img alt="yahoo_weather_today[0]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_today[0]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_today[0]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_today[1]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_today[1]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_today[1]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_today[2]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_today[2]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_today[2]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_today[3]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_today[3]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_today[3]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_today[4]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_today[4]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_today[4]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_today[5]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_today[5]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_today[5]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_today[6]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_today[6]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_today[6]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_today[7]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_today[7]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_today[7]}}
                </small>
            </td>
        </tr>
        <tr>

            <td>niffty天気</td>
            <td>
                <img alt="niftty_weather_today[0]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_today[0]}}.png" width="75"/>
                <small>
                    {{niftty_weather_today[0]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_today[1]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_today[1]}}.png" width="75"/>
                <small>
                    {{niftty_weather_today[1]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_today[2]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_today[2]}}.png" width="75"/>
                <small>
                    {{niftty_weather_today[2]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_today[3]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_today[3]}}.png" width="75"/>
                <small>
                    {{niftty_weather_today[3]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_today[4]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_today[4]}}.png" width="75"/>
                <small>
                    {{niftty_weather_today[4]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_today[5]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_today[5]}}.png" width="75"/>
                <small>
                    {{niftty_weather_today[5]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_today[6]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_today[6]}}.png" width="75"/>
                <small>
                    {{niftty_weather_today[6]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_today[7]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_today[7]}}.png" width="75"/>
                <small>
                    {{niftty_weather_today[7]}}
                </small>
            </td>
        </tr>
        <tr>
            <td>お天気ナビゲーター</td>
            <td colspan="8" align="center">
                <img alt="navigater_weather_today" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{navigater_weather_today}}.png" width="75"/>
                <small>
                    {{navigater_weather_today}}
                </small>
            </td>
        </tr>
        <tr>
            <td>気象庁</td>
            <td colspan="8" align="center">
                <img alt="kisyoutyou_weather_today" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{kisyoutyou_weather_today}}.png" width="75"/>
                <small>
                    {{kisyoutyou_weather_today}}
                </small>
            </td>
        </tr>
    </table>
    <br>
    <table border="1">
        <tr>
            <td>明日</td>
            <td>0時</td>
            <td>3時</td>
            <td>6時</td>
            <td>9時</td>
            <td>12時</td>
            <td>15時</td>
            <td>18時</td>
            <td>21時</td>
        </tr>
        <tr>
            <td>yahoo天気</td>
            <td>
                <img alt="yahoo_weather_tomorrow[0]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_tomorrow[0]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_tomorrow[0]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_tomorrow[1]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_tomorrow[1]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_tomorrow[1]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_tomorrow[2]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_tomorrow[2]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_tomorrow[2]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_tomorrow[3]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_tomorrow[3]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_tomorrow[3]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_tomorrow[4]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_tomorrow[4]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_tomorrow[4]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_tomorrow[5]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_tomorrow[5]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_tomorrow[5]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_tomorrow[6]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_tomorrow[6]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_tomorrow[6]}}
                </small>
            </td>
            <td>
                <img alt="yahoo_weather_tomorrow[7]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{yahoo_weather_tomorrow[7]}}.png" width="75"/>
                <small>
                    {{yahoo_weather_tomorrow[7]}}
                </small>
            </td>
        </tr>
        <tr>
            <td>niffty天気</td>
            <td>
                <img alt="niftty_weather_tomorrow[0]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_tomorrow[0]}}.png" width="75"/>
                <small>
                    {{niftty_weather_tomorrow[0]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_tomorrow[1]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_tomorrow[1]}}.png" width="75"/>
                <small>
                    {{niftty_weather_tomorrow[1]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_tomorrow[2]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_tomorrow[2]}}.png" width="75"/>
                <small>
                    {{niftty_weather_tomorrow[2]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_tomorrow[3]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_tomorrow[3]}}.png" width="75"/>
                <small>
                    {{niftty_weather_tomorrow[3]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_tomorrow[4]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_tomorrow[4]}}.png" width="75"/>
                <small>
                    {{niftty_weather_tomorrow[4]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_tomorrow[5]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_tomorrow[5]}}.png" width="75"/>
                <small>
                    {{niftty_weather_tomorrow[5]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_tomorrow[6]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_tomorrow[6]}}.png" width="75"/>
                <small>
                    {{niftty_weather_tomorrow[6]}}
                </small>
            </td>
            <td>
                <img alt="niftty_weather_tomorrow[7]" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{niftty_weather_tomorrow[7]}}.png" width="75"/>
                <small>
                    {{niftty_weather_tomorrow[7]}}
                </small>
            </td>
        </tr>
        <tr>
            <td>お天気ナビゲーター</td>
            <td colspan="8" align="center">
                <img alt="navigater_weather_tommorow" border="0" height="40" src="../static/WeatherIconPack_png/Icons/{{navigater_weather_tommorow}}.png" width="75"/>
                <small>
                    {{navigater_weather_tommorow}}
                </small>
            </td>
        </tr>
    </table> 
    <!-- <p>気温: {{ temperature }}</p> -->
</body>
</html>
